/* --- SOCIAL PHOTO --- */
.photo__photos h1,
#photos_area h1 {
    width: 100%;
    padding: 0.3em;
    line-height: 1.7em;
    margin: 0;
    background: #edeff0;
    font-size:1.6em;
    color: #606D75;
}
#photos_area .photo__link {
  line-height: 0;
  display: block;
  font-size: .8em;
  text-align:left;
}
.photos__albums .album {
    background: #f9f9f9;
    width:100%;
    height:112px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.photos__albums .album__title {
    font-size: .8em;
    text-align: left;
    color: #FFF;
    background: rgba(55,64,69,0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
}
.photos__albums .album__title div {
    float:right;
}
.photos__albums,
.photos__list,
#albums_area {
  height: calc(100vh - 45px);
}
#albums_area {
  display:none;
}
#photo__editbutton {
  visibility: hidden;
  margin-top: -2.3em;
  margin-right: .4em;
  padding: .3em;
  width: 1.9em;
  height: 1.9em;
  font-size: 1.4em;
}
.i-newphotoalbum {
  font-size: 0.5em;
}

/* --- SOCIAL PHOTOALBUM --- */
.modal #photoalbum-privacy,
.modal #photoalbum-privacy_comments {
  width: 32%;
  float:right;
}

.field-photoalbum-privacy .help-block,
.field-photoalbum-privacy_comments .help-block {
  clear:both;
}

#form-create-photo .modal__footer {
  padding-bottom:0;
}

#form-edit-photoalbum .form-group .control-label {
  float:none;
}
#form-edit-photoalbum .form-control {
  width:100%;
}
#form-edit-photoalbum .form-group--transparent .control-label {
  float:left;
}
#form-edit-photoalbum .form-group--transparent .form-control {
  float:right;
}
#form-edit-photoalbum .form-group--transparent .form-control {
  width:30%;
}

.album {
  border:1px solid #fff;
}
.album__highlight {
  background: #f5f5df;
}
.album__highlight .album .album__title {
  background: #cdcd7c;
}


.album-wrap {
  padding: .25em .6em .25em .25em;
  position: relative;
}
.album-wrap:hover {
  background: #edeff0;
}
.album-wrap:hover .album {
  border:1px solid #edeff0;
}

.album-active:hover .i-widgetbutton {
  display: block;
  z-index: 2;
  border-radius: 50%;
  background: #fff;
  padding: 0.2em;
  width: 28px;
  height: 28px;
}
.album-active:hover .i-widgetbutton .zmdi {
  width: 1em;
  height: 1em;
  line-height: 1.2;
  font-size: 17px;
  color: rgba(0,0,0,.5);
  vertical-align: middle;
}
.album-active:hover .i-widgetbutton--topright {
  top:.8em;
  right:1em;
}
.album-active:hover .i-widgetbutton--topleft {
  top:.8em;
  left:.8em;
}

.album-active .album,
.album-active:hover .album {
  border:1px solid rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.4);
}

.albums_area--loader {
  margin-top: 1.5em;
}

.photoalbum__edit {
  display:none;
  border-bottom: 1px solid #efefef;
}
.photoalbum__edit.active {
  display:flex;
}


.photoalbum__photos {
  padding: 0.5em;
}

#photoalbums__loadmore {
  position: fixed;
}
