/* --- SOCIAL DIALOGS --- */
.dialog__box {
    border-bottom: 1px solid #ebebeb;
}

.dialog__box.active {
    background: #6f808a;
    color: #fff;
}

.dialog__box.active .dialog__name {
    color: #fff;
}

.dialog__box.active .dialog__lastmessage,
.dialog__box.active .dialog__time {
    color: #efefef;
}

.dialog__box--hoverable {
    cursor: pointer;
}

.dialog__box--hoverable:hover {
    background: #f9f9f9;
}

.dialog__box--hoverable.active:hover {
    background: #7b8d98;
}

.dialog__avatar {
    float: left;
}

.dialog__time {
    float: right;
    color: #57656e;
    font-size: 0.9em;
    font-family: 'OsnovaPro';
}

.dialog__name {
    font-family: 'OsnovaProMedium';
    font-weight: normal;
    color: #57656e;
}

.dialog__lastmessage {
    color: #b5b5b5;
    font-size: 0.8em;
    line-height: 0.9em;
    margin-top: 0.3em;
}

.dialog__info {
    padding-bottom: 0;
}

/* --- SOCIAL MESSAGES --- */
.conversations__list {
    border-right: 1px solid #ebebeb;
}

#messages_list,
#messages_area,
.conversations__new {
    height: 100%;
    overflow: hidden;
}

#messages_area,
#messages_sendbox {
    display: none;
}

#messages_sendbox {
    border-top: 1px solid #ebebeb;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: #fff;
    max-height: 200px;
    width: 100%;
}

#message-text {
    max-height: 150px;
}

#messages_actions {
    border-right: 1px solid #ebebeb;
}

#message-send-submit {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #57656e;
}
#message-send-submit:hover {
    background-color: rgba(222, 222, 222, 0.2);
}

.in-messages {
    overflow: hidden;
}

.message__send .u-center-block__content {
    height: 100%;
}

.message__input {
    padding-right: 0;
}
