/* ! --- SOCIAL DIALOGS --- */
#dialogs_area {
    margin: -32px 0 0;
    vertical-align: top;
    position: relative;
    z-index: 1338;
    overflow: hidden;
    border-right: 1px solid #ebebeb;
}

#conversations_area .os-scrollbar-vertical {
    border: 0px;
    width: 1px;
    padding: 0;
}

#dialogs_search,
#friends_in_dialogs_search {
    font-size: 0.8em;
    border-bottom: 1px solid #ddd;
    background: #e2e2e2;
    position: relative;
    z-index: 5;
}

.dialog__box {
    border-bottom: 1px solid #ebebeb;
    position: relative;
    padding-right: .9em;
}

.dialog__box.active {
    background: #6f808a;
    color: #fff;
}

.dialog__box.active .dialog__name {
    color: #fff;
}

.dialog__box.active .dialog__lastmessage,
.dialog__box.active .dialog__time {
    color: #efefef;
}

.dialog__box--hoverable {
    cursor: pointer;
}

.dialog__box--hoverable:hover {
    background: #f9f9f9;
}

.dialog__box--hoverable.active:hover {
    background: #7b8d98;
}

.dialog__avatar {
    float: left;
}

.dialog__time {
    float: right;
    color: #57656e;
    font-size: 0.9em;
    font-family: 'OsnovaPro';
}

.dialog__name {
    font-family: 'OsnovaProMedium';
    font-weight: normal;
    color: #57656e;
}

.dialog__lastmessage {
    color: #b5b5b5;
    font-size: 0.8em;
    line-height: 1.1em;
    margin-top: 0.3em;
    padding-right: 2.5em;
}

.dialog__info {
    padding-bottom: 0;
}

/* ! --- DIALOGS SEARCH FORM --- */
.dialogs__search input[name=search],
.friends__search input[name=search] {
    height: 23px;
    margin: 4px 0;
    background: #f3f3f3;
}

.dialogs__add,
.dialogs__close {
    background: #e2e2e2;
}

.dialogs__add:hover,
.dialogs__close:hover {
    background: #f3f3f3;
    color: #57656e;
    cursor: pointer;
}

.dialogs__add .c-icon,
.dialogs__close .c-icon {
    font-size: 2.3em;
}

/* ! --- DIALOGS: Create new [bottom panel] / MISC --- */
#dialog_actions {
    border-right: 1px solid #ebebeb;
    background: #f9f9f9;
}

.dialogs__new {
    width: 100%;
    color: #ddd;
}

/* ! --- DIALOGS: options --- */
.i-dialogbutton {
    color: #374045;
    padding: 0.8em;
}

.i-dialogbutton:hover,
.i-dialogbutton:focus {
    color: #6f808a;
}

/* ! --- [MISC] Dialog Badges --- */
.dialog__box .c-badge--bottomright {
    right: 0.75em;
    bottom: 0.75em;
}

.dialog__box .c-badge--bottomleft {
    left: 0.75em;
    bottom: 0.75em;
}

.dialog__box.active .c-badge {
    background-color: #fff;
    color: #595959;
}

.dialog__memberscount {
    position: absolute;
    background: #f9f9f9;
    font-weight: normal;
    opacity: 0;
    padding: 0.2em 0.4em;
    font-size: 0.8em;
    color: #57656e;
}

.dialog__box--hoverable:hover .dialog__memberscount {
    opacity: 1;
}

.dialog__box--hoverable.active .dialog__memberscount {
    opacity: 1;
    background: rgba(111, 128, 138, 0.8);
    color: #fff;
}

.dialog__box--hoverable.active:hover .dialog__memberscount {
    opacity: 1;
    background: rgba(123, 141, 152, 0.8);
    color: #fff;
}